
.pad-top-10{padding-top:10px;}
.pad-top-20{padding-top:20px;}
.pad-top-30{padding-top:30px;}


.jumbotron h1{
    font-size:34px;
    border-bottom:#ffffff solid 1px;
    padding-bottom:10px;
}



.media-body{
    font-size:120%;
}

.panel a:hover{
    text-decoration: none;
}

.panel-blue-heading{
    background:#2e98cc !important;
    color:#ffffff !important;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
    background:#ca2129;
    border:#ca2129;
}

.grey-list a.list-group-item.active, .grey-list a.list-group-item.active:hover, .grey-list a.list-group-item.active:focus{
    background:#f4f4f4;
    border:#cccccc;
    color:#666666 !important;
}

#blog img{
    width:100%;
    margin:5px 0 15px 0;
    border:1px #cccccc solid;
    padding:3px;
    border-radius:5px;
}

#blog a.readmore{
    background:#2b8cbc;
    padding:10px 15px;
    color:#ffffff;
    text-align:center;
    display:block;
    margin-top:20px !important;
    border-radius:5px;
}

#blog a.readmore:hover{
    background:#20749d;
}

small{
    padding:5px;
    background:#f4f4f4;
    border:#dddddd solid 1px;
    border-radius:10px;
    width:100%;
    display:block;
    margin:5px 0 10px 0;
}

iframe.gmap{
    width:100%;
    border:#cccccc 1px solid;
    border-radius:10px;
    padding:4px;
}

.greywell{
    background:#f4f4f4 !important;
}

#tooltip1,#tooltip2{
    color:#ffffff;
    border-bottom:dotted 1px #ffffff;
    padding-bottom:2px;
}

#tooltip1:hover,#tooltip2:hover{
    text-decoration: none;
}

.tab-pane{
    padding-top:10px;
}
